<div class="home">
    <section class="hero" data-parallax="0.9">
        <div class="hero__inner">
            <span class="hero__pre" data-observe>{{ hero_pre_title }}</span>
            <h2 class="sr-only">Kael Cadranel</h2>
            <div class="hero__planet" data-observe>
                {{ partial:planet }}
            </div>
            <span class="hero__tagline" data-observe>{{ hero_tagline }}</span>
{{#             <a href="#about" title="Next section" class="hero__next icon-long-arrow"></a> #}}
        </div>
    </section>
    <section class="about" id="about">
        <div class="about__inner">
            <div class="about__title">
                <span class="about__pre" data-observe>{{ about_pre }}</span>
                <h2 class="about__heading" data-observe>{{ about_title }}</h2>
            </div>
            <figure data-observe class="about__image" itemprop="image">
                {{ about_image }}
                {{ responsive:about_image }}
                {{ /about_image }}
            </figure>
            <p data-observe itemprop="description" class="about__bio">{{ about_bio }}</p>
        </div>
    </section>
    <section class="home-projects">
        <h2 class="home-projects__title" data-observe>{{ projects_title | strip_tags('p') }}</h2>
        <ul class="projects-list">
            {{ projects }}
            <li data-observe data-marquee {{ if index % 2 }} data-direction="right" {{ /if }} class="projects-list__item">
                <a href="{{ url }}" data-transition>
                <span data-skew>
                {{ title }}
                </span>
                {{ thumbnail }}
                {{ responsive:thumbnail glide:width="100" ratio="1/1" class="projects-list__thumbnail" }}
                {{ /thumbnail }}
                </a>
            </li>
            {{ /projects }}
        </ul>
    </section>
    <section class="qualifications">
        <div class="qualifications__inner">
            <h2 class="qualifications__title" data-observe>{{ qualifications_title }}</h2>
            {{ qualifications }}
            <article itemprop="hasCredential" itemscope itemtype="https://schema.org/EducationalOccupationalCredential"
                     class="qualifications__qualification-item qualification-item">
                <h3 data-observe class="qualification-item__title" itemprop="name">{{ title }}</h3>
                <div data-observe class="qualification-item__year" itemprop="dateCreated">{{ year }}</div>
                <div data-observe class="qualification-item__location" itemprop="recognizedBy" itemscope
                     itemtype="https://schema.org/Organization"><span itemprop="name">{{ institute }},</span><span
                    itemprop="location">{{ location }}</span></div>
                <div data-observe class="qualification-item__description" itemprop="description">{{ description }}</div>
            </article>
            {{ /qualifications }}
        </div>
    </section>
    <section class="faq">
        <h2 class="faq__title" data-observe>FAQ</h2>
        {{ qa }}
        <dl data-observe class="faq__item clickable" data-accordian>
            <dt class="faq__question">{{ question }}</dt>
            <dd data-collapsible class="faq__answer">{{ answer }}</dd>
        </dl>
        {{ /qa }}
    </section>
    {{ partial:contact }}
</div>
