<!doctype html>
<html itemscope itemtype="https://schema.org/Person" lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta itemprop="name" name="author" content="Kael Cadranel">
    <meta name="keywords" content="Portfolio, Web design, Full-Stack, Developer">
    <meta name="description" content="Kael Cadranel's Portfolio">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ vite src="assets/favicon/apple-touch-icon.png" }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ vite src="assets/favicon/favicon-32x32.png" }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ vite src="assets/favicon/favicon-16x16.png" }}">
    <link rel="manifest" href="{{ vite src="assets/favicon/site.webmanifest" }}">
    <title>{{ if title !== 'Home' }}{{ title }} – {{ endif }}{{ site:name }}</title>
    {{ vite src="resources/ts/app.ts|resources/style/app.scss" }}
</head>
<body class="no-js">
<div class="page-transition"></div>
<canvas id="canvas" class="canvas"></canvas>
<script>document.body.classList.replace('no-js', 'js');</script>
<h1 class="sr-only">{{ $title }}</h1>
<div class="no-js no-js__message">You have disabled JavaScript, some features might not work as intended. Activate JavaScript to have the full experience.</div>
{{ partial:stars}}
{{ partial:header }}
<main class="main" id="main-content">
    {{ template_content }}
</main>
{{ partial:footer }}
</body>
</html>
