@use "../abstracts/colors" as *;

.js {
    cursor: none;
    .no-js {
        display: none;
    }
    .clickable {
        cursor: pointer;
    }
}

.no-js {
    &__message {
        background: $alert;
        text-align: center;
        position: fixed;
        width: 100vw;
        z-index: 101;
    }
}

.canvas {
    position: fixed;
    z-index: 999;
    pointer-events: none;
    mix-blend-mode: difference;
}

@keyframes to-page {
    0% {
        right: 0;
        left: 100vw;
    }
    100% {
        right: 0;
        left: 0;
    }
}

.page-transition {
    position: fixed;
    height: 100vh;
    background: $black;
    z-index: 200;
    .to-page {
        animation: to-page 1s ease-in;
    }
}
