@use "../abstracts/colors" as *;

.js {
    cursor: none;
    .no-js {
        display: none;
    }
    .clickable {
        cursor: pointer;
    }
}

.no-js {
    &__message {
        background: $alert;
        text-align: center;
        position: fixed;
        width: 100vw;
        z-index: 101;
    }
}

.canvas {
    position: fixed;
    z-index: 999;
    pointer-events: none;
    mix-blend-mode: difference;
}
