@use '../abstracts/colors' as *;
@use '../abstracts/typography' as *;

body {
    min-height: 100vh;
    background: $black;
    color: $white;
    @include text();
    display: flex;
    flex-direction: column;
}

.stars {
    position: fixed;
    z-index: -1;
    min-height: 100vh;
    min-width: 100vw;
    height: auto;
    width: auto;
}
