@use '../abstracts/typography' as *;
@use '../abstracts/spacing' as *;
@use '../abstracts/screens' as *;
@use '../abstracts/helpers' as *;

.projects-list {
    @include heading(3);
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include screen('md') {
        @include heading(1);
    }

    &__item {
        display: inline-block;
        white-space: nowrap;
        width: 100%;
        @include dropshadow;

        > a {
            display: inline-block;
            box-sizing: border-box;
            padding: 0 spacing(5) spacing(5) 0;
            margin-bottom: spacing(6);
        }

        > * {
            @include inherit
        }

    }

    &__thumbnail {
        border-radius: 999px;
    }
}
